doctype html
html(lang="en")
    head
        title Bitcoin For YouTubers

        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Anton", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i", rel="stylesheet")
        link(href="/node_modules/vuetify/dist/vuetify.min.css", rel="stylesheet")

        meta(name="viewport", content="width=device-width, initial-scale=1")

    body

        // Bitcoin For YouTubers Application

        bitcoinforyoutubers#app

            v-app(dark)

                v-toolbar.red

                    h1(style="color:white;font-family: 'Exo 2', sans-serif;") Bitcoin For
                        span(style="font-family: 'Anton', sans-serif;margin-left: 3.5px;") YouTubers

                    v-spacer

                    // Component Navigation

                    v-toolbar-side-icon.hidden-md-and-up

                    v-toolbar-items.hidden-sm-and-down
                        v-btn(flat) What's This?
                        v-btn(flat) Investment Plans
                        v-btn(flat) $1000 Give Away!

                v-content(fluid)

                    v-container

                        v-carousel(hide-controls)
                            v-carousel-item(src="https://s-media-cache-ak0.pinimg.com/originals/64/15/8c/64158c807a9f5ee14170b9b692a57986.jpg")
                            v-carousel-item(src="http://newscult.com/wp-content/uploads/2016/12/youtubers.jpeg")
                            v-carousel-item(src="https://thedowntowntea.com/wp-content/uploads/2015/11/youtubers_by_veronicazoo-d7pw4fb.jpg")

                        v-container(fluid, grid-list-lg)
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-card color="blue-grey darken-2" class="white--text">
                                        <v-card-title primary-title>
                                            <div class="headline">What's This?</div>
                                        </v-card-title>

                                        p Nisi enim qui laboris elit anim non excepteur deserunt laboris ullamco laborum. Magna commodo consequat tempor cillum ex. Laboris dolore sunt ut occaecat consectetur proident commodo dolore ad laborum. Cillum nisi Lorem mollit laborum nisi fugiat. Ad in ea officia eiusmod officia in laborum mollit aliqua eu incididunt.

                                        <v-card-actions>
                                            <v-btn flat dark>Learn More</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12>
                                    <v-card color="cyan darken-2" class="white--text">
                                        <v-container fluid grid-list-lg>
                                            <v-layout row>
                                                <v-flex xs7>
                                                <div>
                                                    <div class="headline">Investment Plans</div>
                                                    <div>Foster the People</div>
                                                </div>
                                                </v-flex>
                                                <v-flex xs5>
                                                    <v-card-media src="https://thedowntowntea.com/wp-content/uploads/2015/11/youtubers_by_veronicazoo-d7pw4fb.jpg" height="125px" contain></v-card-media>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12>
                                <v-card color="purple" class="white--text">
                                    <v-container fluid grid-list-lg>
                                    <v-layout row>
                                        <v-flex xs7>
                                        <div>
                                            <div class="headline">Halycon Days</div>
                                            <div>Ellie Goulding</div>
                                        </div>
                                        </v-flex>
                                        <v-flex xs5>
                                            <v-card-media src="https://thedowntowntea.com/wp-content/uploads/2015/11/youtubers_by_veronicazoo-d7pw4fb.jpg" height="125px" contain></v-card-media>
                                        </v-flex>
                                    </v-layout>
                                    </v-container>
                                </v-card>
                                </v-flex>
                            </v-layout>

                    v-container

                        h1 What's This?
                        p Ut adipisicing nisi tempor anim sit ipsum amet consequat qui velit tempor laborum velit. Eiusmod ut qui excepteur ea ut excepteur minim sit consectetur nulla tempor. Elit velit consectetur aute proident fugiat esse. Irure eu excepteur in minim velit in non et proident nisi laboris adipisicing magna id.

                    v-container

                        h1 Investment Plans
                        p Ut adipisicing nisi tempor anim sit ipsum amet consequat qui velit tempor laborum velit. Eiusmod ut qui excepteur ea ut excepteur minim sit consectetur nulla tempor. Elit velit consectetur aute proident fugiat esse. Irure eu excepteur in minim velit in non et proident nisi laboris adipisicing magna id.

                    v-container

                        h1 $1000 Give Away!
                        p Ut adipisicing nisi tempor anim sit ipsum amet consequat qui velit tempor laborum velit. Eiusmod ut qui excepteur ea ut excepteur minim sit consectetur nulla tempor. Elit velit consectetur aute proident fugiat esse. Irure eu excepteur in minim velit in non et proident nisi laboris adipisicing magna id.

                v-footer(fluid)
                    span (c) 2017 - 2018 Bitcoin For YouTubers, LLC.

        // Vue / Vuetify Setup

        script(src="/node_modules/vue/dist/vue.js")
        script(src="/node_modules/vuetify/dist/vuetify.js")
        script.
            new Vue({ el: "#app" })
